@using Microsoft.AspNetCore.Identity;
@model IEnumerable<CarSystem.Models.AppUser>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

   
    var searchModel = ViewData["SearchModel"] as CarSystem.Models.ViewModels.EmailViewModel ?? new CarSystem.Models.ViewModels.EmailViewModel();
    ViewData["Title"] = "Home Page";
}

<br />
<br />




<div class="row">
	
	<br />


    <form method="post" asp-action="Index">
        <div asp-validation-summary="None"></div> <!-- Explicitly disable -->
        <div class="row">
            <!-- Car Name -->
            <div class="col-4">
                <label asp-for="@searchModel.Email" class="control-label"></label>
                <input asp-for="@searchModel.Email" name="Email" class="form-control" type="text" />
                <span asp-validation-for="@searchModel.Email" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="col-1">
                <br />
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </div>
        <br /><br />
    </form>

</div>

<div class="row" >
    <div class="col-6">
        <h2 style="color:lack">User List</h2>
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-8 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus "></i> &nbsp;  New User</a>
        </div>
    }
   


  <div>
      <br />
        <table class="table table-striped border id="myTable">
            <thead>
                <tr class="table-info">
                    <th>Name</th>
                    <th>UserName</th>
                    
                    <th></th>
                </tr>
            </thead>




            <tbody>
                @foreach (var item in Model)
                {
                   
                    <form method="post" asp-action="DeleteUser">
                         <tr>
                       
                         <td>@item.Email</td>
                         <td>
                            <input type="hidden" name="Email" value="@item.Email" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                         </td>
                        
                         </tr>
                    </form>
                }
            </tbody>




        </table>
    </div>

</div>